.list {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.list-title-block {
  cursor: pointer;
  font-size: 1em;
}

.list-title-marker {
  display: inline-block;
  width:20px;
  height: 20px;
  text-align: center;
}

.list-title-text {
  display: inline-block;
  text-transform: uppercase;
}